<li *ngFor="let t of times">
  <h4>{{ t.id }}</h4>
    <nz-date-picker
    nzShowTime
    nzFormat="yyyy-MM-dd HH:mm:ss"
    nzPlaceHolder="Select Time"
    [(ngModel)]="t.time"
    (ngModelChange)="onChange($event)"
    (nzOnOk)="onOk($event)"
  ></nz-date-picker>
  <br>
</li>
<button nz-button (click)="addOne()" nzType="primary">Add one</button>
<button nz-button (click)="setTimers()" nzType="primary">set All Timers</button>
<button nz-button [nzType]="'primary'" (click)="createNotifications()">
  Open the notification box
</button>
<button nz-button (click)="createMessage('success')">Success</button>
<nz-calendar [(ngModel)]="selectedValue" (nzSelectChange)="selectChange($event)">
  <ul *nzDateCell="let date" class="events">
    <ng-container [ngSwitch]="date">
      <ng-container *ngSwitchCase="'Thu Jan 12 2017 00:00:00 GMT+0200 (Eastern European Standard Time)'">
        <li *ngFor="let item of listDataMap.ten">
          <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</nz-calendar>

<nz-modal
      [(nzVisible)]="isVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancel()"
    >
      <ng-template #modalTitle>
        My Task {{ selectedValue | date : 'medium' }}
      </ng-template>

      <ng-template #modalContent>
        <nz-timeline nzMode="alternate">
          <nz-timeline-item nzColor="red">write some code</nz-timeline-item>
          <nz-timeline-item nzColor="green">merge all branch</nz-timeline-item>
          <nz-timeline-item nzColor="blue">breakfast</nz-timeline-item>
          <nz-timeline-item nzColor="red">read documentation</nz-timeline-item>
          <nz-timeline-item nzColor="yellow">learn angular</nz-timeline-item>
          <nz-timeline-item nzColor="green">debug function</nz-timeline-item>
          <nz-timeline-item nzColor="blue">testing software</nz-timeline-item>
        </nz-timeline>
      </ng-template>

      <ng-template #dotTemplate>
        <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
      </ng-template>
      <ng-template #modalFooter>
        <span>Actions </span>
        <button nz-button nzType="default" (click)="handleCancel()">Callback</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Submit</button>
      </ng-template>
    </nz-modal>
