
<div mat-dialog-content>
  <h3>Edit {{data.name}}</h3>
  <div [formGroup]="userForm">
    <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" class="form-control" formControlName="name" #name required>
  </mat-form-field>
    <p *ngIf="userForm.controls.name.errors?.required" class="errors">Name is required</p>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="email" class="form-control" formControlName="email"  required>
  </mat-form-field>
    <p *ngIf="userForm.controls.email.errors?.required" class="errors">Email is required</p>
    <!--<p *ngIf="userForm.controls.email.errors?.pattern" class="errors">Email don`t has valid form</p>-->
  <mat-form-field>
    <mat-label>City</mat-label>
    <input matInput placeholder="city" class="form-control" formControlName="city">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>
</div>
