<button nz-button nzType="primary" (click)="add()">Add User</button>
    <nz-table #editRowTable nzBordered [nzData]="(comments$ | async)">
      <thead>
        <tr>
          <th nzWidth="10%">PostID</th>
          <th nzWidth="25%">Name</th>
          <th nzWidth="25%">Email</th>
          <th nzWidth="25%">Body</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <td>
            <ng-container *ngIf="!editCache[data.id]?.edit; else InputPostId">
              {{ data.postId }}
            </ng-container>
            <ng-template #InputPostId>
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data!.postId" />
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id]?.edit; else InputName">
              {{ data.name }}
            </ng-container>
            <ng-template #InputName>
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data!.name" />
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id]?.edit; else InputEmail">
              {{ data.email }}
            </ng-container>
            <ng-template #InputEmail>
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data!.email" />
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id]?.edit; else InputBody">
              {{ data.body }}
            </ng-container>
            <ng-template #InputBody>
              <input type="text" nz-input [(ngModel)]="editCache[data.id].data!.body" />
            </ng-template>
          </td>
          <td>
            <div class="editable-row-operations">
              <ng-container *ngIf="!editCache[data.id]?.edit; else saveTpl">
                <a (click)="startEdit(data.id)">Edit</a>
                <a (click)="delete(data.id)">Delete</a>
              </ng-container>
              <ng-template #saveTpl>
                <a (click)="saveEdit(data.id)">Save</a>
                <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  