<p [appExample]="green" >
  custom-directive works!
</p>

<ng-template [appStructuralDirective]="true">
  (B) Although the condition is true,
  this paragraph is displayed because appUnless is set to false.
</ng-template>

<ng-container *ngFor="let user of (users$ | async )">
<h5>{{ user?.name }}</h5>
</ng-container>

<button id="increment" (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button id="decrement" (click)="decrement()">Decrement</button>

<button id="reset" (click)="reset()">Reset Counter</button>

<button (click)="add_User()">add User</button>
<button (click)="delete_User()">delete User</button>

<ng-container *ngFor="let post of (posts$ | async )">
  <h5>{{ post?.id }} {{ post?.title }}</h5>
  </ng-container>

  <button (click)="addPost()">add post</button>
  <button (click)="deletePost()">delete post</button>

  <ng-container *ngFor="let comment of (comments$ | async )">
    <h5>{{ comment?.id }} {{ comment?.name }}</h5>
    </ng-container>

    <button (click)="addComment()">add comment</button>
  <button (click)="deleteComment()">delete comment</button>

    <ng-container *ngFor="let todo of (todos$ | async )">
      <h5>{{ todo?.id }}  {{ todo?.title }}</h5>
    </ng-container>

    <button (click)="addTodo()">add todo</button>
    <button (click)="deleteTodo()">delete todo</button>